.app__header {
    background-color: var(--color-black);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-size: 50px;
    letter-spacing: 0.04em;
    line-height: 117px;
}

.app__header-img img {
    width: 80%;
}

.app__header button {
    transition: 0.2s ease;
}

.app__header button:hover {
    background-color: var(--color-golden);
}

@media screen and (max-width: 950px) {
    .app__header-h1 {
        font-size: 50px;
        letter-spacing: 0.04em;
        line-height: 80px;
    }
}